GITHUB_TOKEN=

AZURE_OPENAI_API_KEY=
AZURE_OPENAI_ENDPOINT=
AZURE_OPENAI_API_KEY_EAST_US=
AZURE_OPENAI_ENDPOINT_EAST_US=
AZURE_OPENAI_API_KEY_SWEDEN=
AZURE_OPENAI_ENDPOINT_SWEDEN=

GEMINI_API_KEY_MB_AI=
